<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>makotot @ github</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <main>
      <div class="l__viewport">
        <div class="main">
          <div class="main__column">
            <a href="http://github.com/makotot">makotot</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
