@charset "utf-8";

* {
  box-sizing: border-box;
}

body  {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

a {
  color: #2764d6;
}
